<div class="main" [class.reverse]="isOdd">
  <div class="main-row">
    <div></div>
    <div class="title">
      {{postItem.title}}
    </div>
  </div>
  <div class="main-row">
      <div class="vote">
        <div class="vote-up" (click)="voteUp()" [class.vote-disabled]="postItem.points === MAX_VOTING_NUMBER"></div>
        <div class="vote-number">{{postItem.points}}</div>
        <div class="vote-down" (click)="voteDown()" [class.vote-disabled]="postItem.points === MIN_VOTING_NUMBER"></div>
      </div>
    <div>
      {{postItem.description}}
    </div>
  </div>
  <div class="main-row">
    <div></div>
    <div class="tags">
      <ng-container *ngFor="let tag of postItem?.tags">
        <span>#{{tag}}</span>
      </ng-container>
    </div>
  </div>
</div>
